footer.footer
    .main-content
        .footer__top
            .footer__top-left
                a.footer-logo__link(href="#0")
                    +image("footer-logo.png", "logo", "footer-point")
            .footer__top-right
                nav.footer__nav 
                    ul.nav-list
                        li.nav-item
                            a.nav-link(href="#0") Работы
                        li.nav-item
                            a.nav-link(href="#0") Тарифы
                        li.nav-item
                            a.nav-link(href="#0") Faq
                        li.nav-item
                            a.nav-link(href="#0") Новости
        .footer__bottom

            span.footer-copyright 2019 	&#169; Все права защищены
            
            +image("point-logo.png", "alt", "footer-point")