section.main-section.hero
  include ./header.pug
  .main-content
    .hero__container
      .hero__desc
        h1.main-title Крауд маркетинг 
          div Мы делаем раз, два, три.
        .hero__subtitle Статистика проекта:
          .hero__subtitle-add n сайтов, n клиентов, n проставленных ссылок
        button.hero__button(type="button") начать работать
      .hero__pic
        +image("hero_pic.png", "photo", ".hero__pic-img")