section.main-section.hero
    include ./header.pug
    .main-content
        .hero__desc
            h1.main-title.title-hero Крауд маркетинг 
                .main-title--add-text Мы делаем раз, два, три.
            .hero__subtitle Статистика проекта:
                .hero__subtitle--add-text n сайтов, n клиентов, n проставленных ссылок
            button.hero__button(type="button") начать работать
        