section.main-section.news
    .main-content
        .news__header
            h1.news__title Последние новости
            .news__socials
                span.news__socials-title Быстрее в наших социальных сетях:
                ul.socials__list
                    li.socials__item
                        img(src="./assets/images/social-fb.svg", alt="facebook icon")
                    li.socials__item
                        img(src="./assets/images/social-tw.png", alt="twitter icon")
                    li.socials__item
                        img(src="./assets/images/social-inst.png", alt="instagram icon")
                    li.socials__item
                        img(src="./assets/images/social-tg.png", alt="telegram icon")
        .news__blocks
            ul.block__list
                li.block__item
                    .block__img
                        img(src="./assets/images/news-network.png", alt="")
                    .block__content
                        .block__content-text Почему по моим ссылкам никто не переходит или как не потратить кучу денег в пустую?
                        .block__content-date 28 ноября 2018
                li.block__item
                    .block__img
                    .block__content
                        .block__content-text Почему контекстная реклама не дала вам результат? Разбираемся в проблеме
                        .block__content-date 28 ноября 2018
                li.block__item
                    .block__img
                    .block__content
                        .block__content-text Как искать сайты на которых сидят ваши клиенты. Все оказалось просто... или нет?
                        .block__content-date 28 ноября 2018
                li.block__item
                    .block__img
                    .block__content
                        .block__content-text Пришли клиенты из Индии? Поздравляем! На вас настроили СПАМ-атаку! Рассказываем как бороться.
                        .block__content-date 28 ноября 2018
        .news__button-place
            button.news__btn Все новости