section.main-section.news
    .main-content
        .news__header
            h1.main-title.news-title Последние новости
            .news__socials
                span.news__socials-title Быстрее в наших социальных сетях:
                ul.socials__list
                    li.socials__item
                        +icon('social-fb', 'socials-icon')
                    li.socials__item
                        +icon('social-twitter', 'socials-icon')
                    li.socials__item
                        +icon('social-insta', 'socials-icon')
                    li.socials__item
                        +icon('social-telegram', 'socials-icon')
        .news__blocks
            ul.block__list
                li.block__item
                    .block__img
                        +image("news-network.png", "alt", "news-img")
                    .block__content
                        .block__content-text Почему по моим ссылкам никто не переходит или как не потратить кучу денег в пустую?
                        .block__content-date 28 ноября 2018
                li.block__item
                    .block__img
                        +image("news-context.png", "alt", "news-img")
                    .block__content
                        .block__content-text Почему контекстная реклама не дала вам результат? Разбираемся в проблеме
                        .block__content-date 28 ноября 2018
                //-li.block__item
                //-    .block__img
                //-        +image("news-dacha.png", "alt", "news-img")
                //-    .block__content
                //-        .block__content-text Как искать сайты на которых сидят ваши клиенты. Все оказалось //-просто... или нет?
                //-        .block__content-date 28 ноября 2018
                //-li.block__item
                //-    .block__img
                //-        +image("news-elephant.png", "alt", "news-img")
                //-    .block__content
                //-        .block__content-text Пришли клиенты из Индии? Поздравляем! На вас настроили СПАМ-атаку! //-Рассказываем как бороться.
                //-        .block__content-date 28 ноября 2018
        .news__button-place
            button.news__btn Все новости
