section.main-section.partners
    .main-content
        .partners__head
            h1.main-title Партнеры
            span.partners__subtitle Наши партнеры и клиенты это более 150 агенств, SEO специалистов и маркетологов
        .partners__block
            ul.partners__list
                li.partners__item
                    img(src="./assets/images/partner-rocs.png", alt="")
                li.partners__item
                    img(src="./assets/images/partner-old_town.png", alt="")
                li.partners__item
                    img(src="./assets/images/partner-xtrig.png", alt="")
                li.partners__item
                    img(src="./assets/images/partner-knowless.png", alt="")
                li.partners__item
                    img(src="./assets/images/partner-aplic.png", alt="")
                    +image("partner-aplic.png", 'alt', 'claslasa')