section.main-section.warranty
    .main-content
        .warranty__head
            h1.main-title Гарантии
            .warranty-subtitle Мы работает по жестким стандартам которые делают Крауд маркетинг максимально эффективным. Выполненой работой считается только достигнутый результат.
            