section.main-section.works
    .main-content
        h2.main-title Наши работы
        h3.tariffs__subtitle Ознакомтесь с кейсами наших клиентов, вы можете сортировать работы по интересующему вас тарифу 
        .works__slider-box
            aside.works__aside
            .works__slider.swiper-container
                ul.swiper-wrapper
                    li.works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "alt", "work__slider-img")
                        .works__desc Проект “Вита Плюс” Увеличение вовлеченности аудитории на 12%. Увеличение конверсии с 12% до 32%. Стоимость лида была снижена до 2$ с 7$
                    li.works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "alt", "work__slider-img")
                        .works__desc text2
                    li.works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "alt", "work__slider-img")
                        .works__desc text 3
                    li.works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "alt", "work__slider-img")
                        .works__desc text 4
                    li.works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "alt", "work__slider-img")
                        .works__desc text 5
                .swiper-pagination
                .works__slider-button-box
                    button.works__slider-button.works__slider-button-prev(type="button") prev
                    button.works__slider-button.works__slider-button-next(type="button") next
