section.main-section.works
    .main-content
        h2.main-title Наши работы
        h3.tariffs__subtitle Ознакомтесь с кейсами наших клиентов, вы можете сортировать работы по интересующему вас тарифу 
        .works__slider-box
            aside.works__aside
            .works__slider.swiper-container
                .swiper-wrapper
                    .works__item.swiper-slide
                        .works__pic
                            +image("review-pic.png", "alt", "work__slider-img")
                            .works__desc text 1
                    .works__item.swiper-slide
                        .works__pic
                            +image("review-pic.png", "alt", "work__slider-img")
                            .works__desc text 
                    .works__item.swiper-slide
                        .works__pic
                            +image("review-pic.png", "alt", "work__slider-img")
                            .works__desc text 
                .swiper-pagination
                .works__slider-button-box
                    button.works__slider-button.works__slider-button-prev(type="button") prev
                    button.works__slider-button.works__slider-button-next(type="button") next