include ./assets/views/common/_mixins
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title FAQ
    body
        .wrapper
            main.main
                include ./assets/views/sections/header
                include ./assets/views/sections/faq-section.pug
                    
            include ./assets/views/sections/footer.pug