include ./assets/views/common/_mixins
<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Trustcrow.link
  body
    .wrapper
      include ./assets/views/sections/header.pug
      main.main
        include ./assets/views/sections/hero

        include ./assets/views/sections/partners
        include ./assets/views/sections/news
      include ./assets/views/sections/footer.pug