.faq {
    background-color: #f9f9f9;
    min-height: 600px;
    padding-bottom: 50px;
    padding-top: 15px;
}

.header__faq {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.faq-title {
    width: 100%;
    margin: 30px 0;
    padding-bottom: 30px;
    border-bottom: 3px solid lightgrey;
}

.faq__board {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.questions {
    width: 65%;
}

.question__item {
    border-bottom: 3px solid lightgray;
    margin: 20px 0;
}

.answer {
    padding-bottom: 20px;
    width: 80%;
    display: none;
}

.answer--active {
    display: block;
}

.question {
    width: 97%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.image-rotate {
    transform: rotate(-45deg);
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.queston-btn__image {
    width: 24px;
    height: 24px;
    fill: #3fad89;
    transition: transform .4s;
}

.question-text {
    color: #35373a;
    font-family: "Druk-Wide";
    font-size: 14px;
    text-transform: uppercase;
    width: 80%;
    font-weight: 500;
    display: block;
}

.faq__form {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid lightgrey;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.faq__form-title {
    font-family: "Druk-Wide";
    font-size: 18px;
    font-weight: 500;
    color: #1f364a;
}

.faq__form-subtitle {
    color: #35373a;
}

.faq-label {
    display: flex;
    flex-direction: column;
    color: #35373a;
    margin: 15px 0;
}

.faq-name {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
}

.faq-input {
    height: 50px;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid lightgrey;
}

.faq-area {
    height: 100px;
    resize: none;
    border-radius: 4px;
    padding: 10px;
}

.faq-submit {
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-family: 'Druk-Wide';
    font-weight: 500;
    border-radius: 4px;
    background-color: #44bbff;
    color: #ffffff;
    font-size: 12px;
    transition: all .1s;
    &:hover {
        background-color: #31dbff;
        box-shadow: 1px 1px 7px #44bbff;
    }
}

.home-icon__image {
    width: 13px;
    height: 13px;
}

.bread-crumbs__list {
    display: flex;
}
.bread-crumbs__link {
    color: #35373a;
    opacity: 0.5;
}
.bread-crumbs__item {
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    align-items: center;
    &:last-child {
        &:after {
            display: none;
        }
    }
    &:after {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        margin: 0 10px;
        background-color: #333589;
        border-radius: 50%;
        vertical-align: middle;
        opacity: 0.5;
    }
}


