.news {
    background-color: #f9f9f9;
    padding: 80px 0 80px 0;
}

.news__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.news__socials-title {
    font-size: 13px;
    margin-bottom: 10px;
}

.news-img {
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px 4px 0 0;
    &-first {
        width: 90%;
        margin: 0 auto;
        border-radius: 4px 4px 0 0;
    }
}

.socials__list {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 10px 10px;
}

.socials__item {
    display: inline-block;
}

.socials-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.block__list {
    display: flex;
    flex-direction: column;
}

.block__item {
    height: 160px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    background-color: #fff;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.news__button-place {
    display: flex;
    justify-content: center;
}

.news__btn {
    background-color: #44bbff;
    font-family: "Druk-Wide";
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
    margin-top: 30px;
    width: 210px;
    height: 40px;
    transition: all .1s;
    &:hover {
        background-color: #31dbff;
        box-shadow: 1px 1px 7px #44bbff;
    }
}

.block__img {
    width: 20%;
} 

.block__content {
    width: 80%;
    padding: 20px 100px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block__content-text {
    margin-bottom: 15px;
    font-weight: 600;
    max-width: 565px;
    padding-right: 5px;
    padding-bottom: 15px;
}

.block__content-date {
    color: grey;
}

.news-title {
    width: 210px;
    line-height: 1.1;
}

.news__socials-title {
    color: grey;
}