.works {
    background-color: #f4f4f4; // height: 600px;
    height: 100%;
    text-align: center;
    padding-bottom: 80px;
}

.works__slider-box {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.works__aside {
    min-width: 180px;
    height: 600px;
    background-color: lightskyblue;
    margin-right: 20px;
}

.right-col {
    width: 30%;
}

.works__pic {
    width: 70%;
}

.works__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

// .works__desc {
//     position: absolute;
//     top: 0;
//     right: 0px;
//     width: 20%;
// }
.works__pagination {
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: 99;
    transform: translateX(-50%);
}

.works__bullet {
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    height: 4px;
    background-color: #000;
}

.works__bullet-active {
    background-color: lightskyblue;
}

.works__slider-button-box {
    position: absolute;
    top: 100px;
    right: 0px;
    z-index: 99;
    display: flex;
    flex-direction: column;
}

.works__slider-button {
    width: 130px;
    height: 40px;
    background-color: blue;
    color: white;
    margin-bottom: 20px;
}